@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
.App {
  text-align: center;
  background-image: url("assets/background.png");
  background-size: cover; }

.reasons-container {
  background-color: #006983;
  height: 40vh;
  padding: 20px;
  color: white;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding-top: 9vh; }
  .reasons-container .cardLanding h4 {
    font-family: arial;
    color: #DB9600;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; }
  .reasons-container .cardLanding p {
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif; }

.drop {
  text-align: center;
  display: flex;
  justify-content: center; }
  .drop .drop-receiver {
    width: 60vw;
    display: flex;
    justify-content: left;
    margin-top: -.8vh; }
    .drop .drop-receiver .ui.compact.search.selection.dropdown {
      margin-right: .3vw; }
      .drop .drop-receiver .ui.compact.search.selection.dropdown .icon {
        display: none; }
    .drop .drop-receiver .ui.compact.search.selection.dropdown:hover {
      background: #006983;
      border: 1px solid #006983;
      transition: all .5s;
      color: white; }
      .drop .drop-receiver .ui.compact.search.selection.dropdown:hover .search {
        cursor: pointer; }
      .drop .drop-receiver .ui.compact.search.selection.dropdown:hover .text {
        cursor: pointer;
        color: white;
        transition: all .5s; }

.ui.search.dropdown .menu.transition.visible {
  width: auto;
  height: auto; }

.mega-search-container {
  padding-bottom: 5vh; }
  .mega-search-container .link-club-known {
    text-align: left; }
  .mega-search-container .search-container {
    display: flex;
    justify-content: center;
    flex-direction: wrap; }
    .mega-search-container .search-container .search-bar {
      height: 12vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto; }
      .mega-search-container .search-container .search-bar #custom-search-input {
        position: absolute;
        padding: 3px;
        border: solid 1px #cacaca;
        border-radius: 5px;
        background-color: #fff;
        width: 60vw;
        box-shadow: 0 0 4em #b1b1b1; }
        .mega-search-container .search-container .search-bar #custom-search-input .input-group {
          display: flex;
          justify-content: center;
          height: 70px; }
          .mega-search-container .search-container .search-bar #custom-search-input .input-group span {
            display: flex;
            align-items: center; }
            .mega-search-container .search-container .search-bar #custom-search-input .input-group span .icon {
              height: auto;
              color: #E7E6E5 !important;
              margin-left: 10px;
              font-size: 30px; }
        .mega-search-container .search-container .search-bar #custom-search-input input {
          border: 0;
          box-shadow: none;
          font-size: 18px;
          font-family: 'Roboto', sans-serif; }
        .mega-search-container .search-container .search-bar #custom-search-input .input-group-btn {
          display: flex;
          align-items: center; }
          .mega-search-container .search-container .search-bar #custom-search-input .input-group-btn button {
            height: 80%;
            background: #006983;
            margin-right: 6px;
            width: 15vh; }
            .mega-search-container .search-container .search-bar #custom-search-input .input-group-btn button img {
              width: 60px; }

.ui.inverted.segment.menu-top {
  margin-top: 0;
  border-radius: 0;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  height: 4vh;
  margin: 0; }

.ui.inverted.pointing.secondary.menu {
  height: 100%;
  border: none;
  display: flex;
  align-items: center; }
  .ui.inverted.pointing.secondary.menu a, .ui.inverted.pointing.secondary.menu .dropdown {
    height: 100%;
    color: #006983 !important; }

.landingTop .container-home-top .logoTop {
  padding-top: 3vh;
  padding-bottom: 4vh; }

.landingTop .container-home-top .buble1 {
  padding-top: 12vh; }

.landingTop .container-home-top .buble2 {
  margin-top: -12vh; }

.i.inverted.bordered.icon, i.inverted.circular.icon {
  background-color: #006983 !important; }

.circular.inverted.icon.colorRounderIcons {
  background: #006983; }

@media only screen and (max-width: 767px) {
  .ui.container {
    margin-left: 0px !important;
    margin-right: 0px !important; } }
