@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
.App {
  text-align: center;
  background-image: url("assets/background.png");
  background-size: cover; }

.reasons-container {
  background-color: #006983;
  height: auto;
  padding: 60px;
  color: white;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding-top: 9vh; }
  .reasons-container .cardLanding h4 {
    font-family: arial;
    color: #DB9600;
    font-weight: bold;
    font-family: "Roboto", sans-serif; }
  .reasons-container .cardLanding p {
    color: white;
    font-weight: 500;
    font-family: "Roboto", sans-serif; }

.drop {
  text-align: center;
  display: flex;
  justify-content: center; }
  .drop .drop-receiver {
    width: 65vw;
    display: flex;
    justify-content: left;
    margin-top: -.8vh; }
    .drop .drop-receiver .ui.compact.selection.dropdown {
      margin-right: .3vw;
      padding-right: 14px;
      padding-left: 14px; }
      .drop .drop-receiver .ui.compact.selection.dropdown .icon {
        display: none; }
      .drop .drop-receiver .ui.compact.selection.dropdown .text {
        cursor: pointer;
        color: grey;
        transition: all .5s;
        font-family: "Roboto", sans-serif;
        text-align: center; }
    .drop .drop-receiver .ui.compact.selection.dropdown:hover {
      background: #006983;
      border: 1px solid #006983;
      transition: all .5s; }
      .drop .drop-receiver .ui.compact.selection.dropdown:hover .default.text {
        color: white; }
    .drop .drop-receiver .ui.compact.selection.dropdown:active .search {
      cursor: pointer; }

.ui.dropdown .menu.transition.visible {
  width: auto;
  height: auto;
  overflow: auto; }

.ui.tabular.menu + .attached:not(.top).segment, .ui.tabular.menu + .attached:not(.top).segment + .attached:not(.top).segment {
  width: 65vw; }

.ui.attached.tabular.menu {
  border: none;
  display: flex;
  justify-content: stretch;
  margin-bottom: -13px;
  z-index: 100;
  position: relative; }
  .ui.attached.tabular.menu .item {
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: rgba(207, 207, 207, 0.5);
    color: #a5a5a5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  .ui.attached.tabular.menu .item.active {
    background: white;
    border: 1px solid #c4c4c4;
    border-bottom: none;
    color: black; }

.testtt {
  display: flex;
  justify-content: center; }
  .testtt .mega-search-container {
    padding-bottom: 5vh; }
    .testtt .mega-search-container .div {
      display: flex;
      justify-content: center;
      width: 70vw; }
    .testtt .mega-search-container .ui.bottom.attached.segment.tab {
      background: none;
      border: none;
      padding-top: 0px;
      padding: 0px; }
    .testtt .mega-search-container .link-club-known {
      text-align: left; }
    .testtt .mega-search-container .input-group-orange {
      margin-bottom: 3.8vh; }
    .testtt .mega-search-container .search-container {
      display: flex;
      justify-content: center; }
      .testtt .mega-search-container .search-container .search-bar {
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto; }
        .testtt .mega-search-container .search-container .search-bar #custom-search-input {
          position: absolute;
          padding: 3px;
          border: solid 1px #c4c4c4;
          border-radius: 5px;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          background-color: white;
          width: 65vw;
          box-shadow: 0 0 4em #b1b1b1; }
          .testtt .mega-search-container .search-container .search-bar #custom-search-input .input-group {
            background: transparent;
            display: flex;
            justify-content: center;
            height: 65px; }
            .testtt .mega-search-container .search-container .search-bar #custom-search-input .input-group span {
              display: flex;
              align-items: center; }
              .testtt .mega-search-container .search-container .search-bar #custom-search-input .input-group span .icon {
                height: auto;
                color: #E7E6E5 !important;
                margin-left: 10px;
                font-size: 30px; }
          .testtt .mega-search-container .search-container .search-bar #custom-search-input input {
            background: transparent;
            border: 0;
            box-shadow: none;
            font-size: 18px;
            font-family: "Roboto", sans-serif; }
          .testtt .mega-search-container .search-container .search-bar #custom-search-input .input-group-btn {
            background: transparent;
            display: flex;
            align-items: center; }
            .testtt .mega-search-container .search-container .search-bar #custom-search-input .input-group-btn button {
              height: 80%;
              background: #006983;
              margin-right: 6px;
              width: 15vh; }
              .testtt .mega-search-container .search-container .search-bar #custom-search-input .input-group-btn button img {
                width: 50px; }
          .testtt .mega-search-container .search-container .search-bar #custom-search-input .input-group-btn.orange-go button {
            background: #DB9600; }

.ui.inverted.segment.menu-top {
  margin-top: 0;
  border-radius: 0;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  height: 4vh;
  margin: 0; }

.ui.inverted.pointing.secondary.menu {
  height: 100%;
  border: none;
  display: flex;
  align-items: center; }
  .ui.inverted.pointing.secondary.menu a, .ui.inverted.pointing.secondary.menu .dropdown {
    height: 100%;
    color: #006983 !important; }

.landingTop .container-home-top .ui.image.logoTop {
  padding-top: 8vh;
  padding-bottom: 10vh;
  width: 250px; }

.landingTop .container-home-top .buble1 {
  padding-top: 12vh; }

.landingTop .container-home-top .buble2 {
  margin-top: -12vh; }

.i.inverted.bordered.icon, i.inverted.circular.icon {
  background-color: #006983 !important; }

.circular.inverted.icon.colorRounderIcons {
  background: #006983; }

.footer {
  height: auto;
  background: #006983;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  .footer .footer-social-media {
    padding-top: 3vh;
    width: 100%;
    display: flex;
    justify-content: center; }
    .footer .footer-social-media .fotter-social-media-container {
      width: 20vw;
      display: flex;
      justify-content: center;
      justify-content: space-between; }
      .footer .footer-social-media .fotter-social-media-container .icon {
        color: #006983;
        background: white;
        box-shadow: none; }
  .footer .footer-links ul {
    display: inline-block;
    padding-top: 2vh;
    text-align: center;
    display: flex;
    justify-content: center; }
    .footer .footer-links ul li {
      display: inline;
      list-style: none;
      /* pour enlever les puces sur IE7 */
      margin: 1vw; }
      .footer .footer-links ul li a {
        color: white !important; }
  .footer .footer-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh; }
    .footer .footer-logo img {
      align-self: center; }

@media only screen and (max-width: 767px) {
  .ui.container {
    margin-left: 0px !important;
    margin-right: 0px !important; } }
